{#
/**
 * @file
 * This template is used to render a carousel gallery.
 *
 * Available variables:
 * - carousel: carousel entity.
 * - slides: A list of carousel items.
 * - configuration: The configuration block
 * - data: An array of carousel values.
 *
 * @see Drupal\easy_carousel\Plugin\Block\GalleryCarouselBlock class.
 */
#}

{% if data.status %}

	<div
		class="easy-carousel--gallery"
		data-id="{{ data.cid }}"
		data-last_updated="{{ data.config.last_updated }}"
		style="height: {{ data.config.carousel_height }}px;">

		<div class="thumbnails">
			{% for slide in data.items %}
				{% if slide.status %}
					<div class="slide {{ loop.first ? 'active' : '' }}" style="width: {{ data.config.thumbnail_width }}px; background-color: {{ slide.background_color }};">
						{% if slide.media %}
							{% if slide.media.bundle == 'image' %}
								<div class="slide-image managed">
									<img src="{{ file_url(slide.media.uri) }}" alt="{{ slide.media.alt }}" />
								</div>
							{% elseif slide.media.bundle == 'video' %}
								<video controls>
									<source src="{{ file_url(slide.media.uri) }}" type="{{ slide.media.mime_type }}">
								</video>
							{% elseif slide.media.bundle == 'remote_video' %}
								<iframe
									src="{{ embed_url(slide.media.uri, slide.video_options) }}"
									class="easy-carousel-remote-video"
									sandbox="allow-scripts allow-same-origin allow-presentation allow-popups"></iframe>
							{% endif %}
						{% elseif slide.base64_image %}
							<div class="slide-image b64">
								<img src="{{ slide.base64_image }}" />
							</div>
						{% elseif slide.external_image %}
							<div class="slide-image external">
								<img src="{{ slide.external_image.uri }}" title="{{ slide.external_image.title }}" />
							</div>
						{% endif %}

						{% if (slide.title and slide.show_title) or slide.description or slide.link %}
							<div class="slide-content {{ slide.media ? '' : 'expanded' }}" style="background-color: {{ slide.background_color }};">

								{% if slide.show_title %}
									<div class="slide-title" style="color: {{ slide.title_color }};">{{ slide.label }}</div>
								{% endif %}

								{% if slide.description %}
									<div class="slide-text" style="color: {{ slide.description_color }};">{{ slide.description|raw }}</div>
								{% endif %}

								{% if slide.link %}
									<a
										class="slide-link"
										href="{{ slide.link.uri }}"
										target="{{ slide.link.target }}"
										style="background-color: {{ slide.title_color }}; color: {{ slide.background_color }}"
										title="{{ slide.link.title }}">
										{% if slide.link.title %}
											{{ slide.link.title }}
										{% else %}
											{{ 'Visit'|t }}
										{% endif %}
									</a>
								{% endif %}
							</div>
						{% endif %}
					</div>
				{% endif %}

			{% endfor %}
		</div>

		<div class="content">

		</div>
	</div>
{% endif %}
